.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.3rem;
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.header__left-section {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 3.2rem;
}

.header__navbar-btn {
  background-color: transparent;
  width: 5.6rem;
  padding: 0 1.7rem;
  border: 1px solid #e6e7e8;
  height: 100%;
}

.header__btn-line {
  display: block;
  margin-bottom: 4px;
  height: 2px;
  width: 100%;
  background-color: #505050;
}

.header__title {
  color: #505050;
  font-weight: normal;
  font-size: 1.6rem;
}

.header__profile-img {
  width: 100%;
  max-width: 4rem;
}

.header__profile-img-container {
  margin: 0 3.3rem 0 0;
}

@media (min-width: 768px) {
  .header {
    margin-left: 25rem;
    padding-left: 2.7rem;
  }

  .header__navbar-btn {
    display: none;
  }
}
