.nav-bar {
  background-color: var(--primary-green);
  color: var(--white);
  width: 100%;
  max-width: 31.8rem;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: transform 0.5s;
}

.nav-bar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 100;
  transition: opacity 0.5s;
}

.nav-bar__overlay--shown {
  opacity: 100%;
  width: 100%;
  height: 100%;
}

.nav-bar--hidden {
  transform: translateX(-37rem);
}

.nav-bar__hero {
  position: relative;
  align-items: center;
  display: flex;
  gap: 2.4rem;
  justify-content: flex-start;
  padding: 1.3rem 0 0 2rem;
  margin-bottom: 1rem;
}

.nav-bar__mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: transparent;
  border: 2px solid var(--white);
  top: 0.5rem;
  right: -4.7rem;
  color: var(--white);
  font-size: 3rem;
  padding: 0.6rem 1rem 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.nav-bar__hero-title {
  font-size: 1.6rem;
  font-weight: var(--regular-font);
}

/* nav-bar main section */
.nav-bar__btns-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0.85rem;
  padding: 0;
}

.nav-bar__btn {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: var(--medium-font);
  gap: 1.7rem;
  margin-bottom: 0.6rem;
  padding: 0.72rem;
}

.nav-bar__link {
  text-decoration: none;
  color: var(--white);
}

.nav-bar__return-section {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  border-top: 1px solid var(--secondary-green);
  padding-top: 2.5rem;
  padding-left: 1.57rem;
}

.nav-bar__return-section-text {
  font-size: 1.6rem;
  font-weight: var(--medium-font);
}

@media (min-width: 768px) {

  .nav-bar {
    max-width: 25rem;
  }
  .nav-bar__mobile-btn {
    display: none;
  }

  .nav-bar--hidden {
    transform: none;
  }
}
